# Pandas exercises

Before attempting this exercise, make sure you've read through the first four pages of [Chapter 3](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html) of the Python Data Science Handbook.

We're going to be using a dataset about movies to try out processing some data with Pandas.

We start with some standard imports:

In [361]:
import ast
import pandas as pd
import numpy as np

Then we load the data from a local file and checkout the data:

In [362]:
df = pd.read_csv('movies_metadata.csv').dropna(axis=1, how='all')
df.head()

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## Exploring the data

This dataset was obtained from [Kaggle](https://www.kaggle.com/rounakbanik/the-movies-dataset/home) who downloaded it
through the TMDB API. 

The movies available in this dataset are in correspondence with the movies that are listed in the MovieLens 
Latest Full Dataset.

Let's see what data we have:

In [363]:
df.shape

(45453, 23)

Twenty-three columns of data for over 45,000 movies is going be a lot to look at but let's start by looking at what the columns represent:

In [364]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Here's an explanation of each column:
- __belongs_to_collection__: A stringified dictionary that identifies the collection that a movie belongs to (if any).
- __budget__: The budget of the movie in dollars.
- __genres__: A stringified list of dictionaries that list out all the genres associated with the movie.
- __homepage__: The Official Homepage of the movie.
- __id__: An arbitrary ID for the movie.
- __imdb_id__: The IMDB ID of the movie.
- __original_language__: The language in which the movie was filmed.
- __original_title__: The title of the movie in its original language.
- __overview__: A blurb of the movie.
- __popularity__: The Popularity Score assigned by TMDB.
- __poster_path__: The URL of the poster image (relative to http://image.tmdb.org/t/p/w185/).
- __production_companies__: A stringified list of production companies involved with the making of the movie.
- __production_countries__: A stringified list of countries where the movie was filmed or produced.
- __release_date__: Theatrical release date of the movie.
- __revenue__: World-wide revenue of the movie in dollars.
- __runtime__: Duration of the movie in minutes.
- __spoken_languages__: A stringified list of spoken languages in the film.
- __status__: Released, To Be Released, Announced, etc.
- __tagline__: The tagline of the movie.
- __title__: The official title of the movie.
- __video__: Indicates if there is a video present of the movie with TMDB.
- __vote_average__: The average rating of the movie on TMDB.
- __vote_count__: The number of votes by users, as counted by TMDB.

## Filtering the data 

Let's start by only looking at films that cost over a million dollars to make. 

Create a variable called `budget_df` that contains all columns for the movies whose budget was over a million dollars.

In [365]:
budget_df = df[df.budget>1000000]    ### SOLUTION
budget_df.shape

(7208, 23)

With this more manageable list of 7000+ movies, I'd like to have a way to look up the budget of a particular movie.

Create a Series object called `budget_lookup` such that you are able to use a call to `budget_lookup['Dead Presidents']` to find the budget of that movie.

In [366]:
budget_lookup = pd.Series(budget_df['budget'].values, index=budget_df['title'])    ### SOLUTION
budget_lookup['Dead Presidents']

10000000

I have figured out that the first (alphabetically) movie whose title starts with an 'A' is 'A Bag of Hammers' and the last movie that starts with a 'B' is 'Byzantium'.

In [367]:
budget_lookup[budget_lookup.index.str.startswith('A')].sort_index()[[0]]

title
A Bag of Hammers    2000000
dtype: int64

In [368]:
budget_lookup[budget_lookup.index.str.startswith('B')].sort_index()[[-1]]

title
Byzantium    10000000
dtype: int64

Use that knowledge to create a series that contains budget informations for all the movies that start with an 'A' or a 'B'. 

HINT: No need to use startswith like I did above, just use the movie titles to do a slice.

In [369]:
budget_lookup_as_and_bs = budget_lookup.sort_index()["A Bag of Hammers":"Byzantium"]   ### SOLUTION
budget_lookup_as_and_bs.shape

(933,)

## Numbers as indices

Enough about movie budgets, it's time to budget my time instead. Because I schedule my day to the minute, I like to be able to look up movies by their runtime. So that when I have a spare two hours and 34 minutes, I can find all the movies that would fit precisely in that time slot (popcorn-making time is budgeted separately).

Create a Series called `time_scheduler` that is indexed by runtime and has the movie's title as its values. Note that you will need to use `sort_index()` in order to be able to look up movies by their duration.

While you're at it, remove any movie that is less than 10 minutes (can't get into it if it's too short) or longer than 3 hours (who's got time for that).

HINT: You'll have to use `pd.to_numeric` to force the runtimes to be numbers (instead of numbers in a string)

In [370]:
time_scheduler = pd.Series(df['title'].values, index=pd.to_numeric(df['runtime'])).sort_index()    ### SOLUTION
time_scheduler = time_scheduler[(time_scheduler.index >= 10) & (time_scheduler.index < 180)]   ### SOLUTION
time_scheduler

runtime
10.0                                            10 Minutes
10.0                             The Story of Menstruation
10.0                                                Hunger
10.0                                        Hotel Magnezit
10.0                                  There Once Was a Dog
10.0                                       Head Over Heels
10.0                                         Runaway Brain
10.0                                            Time Freak
10.0       Forklift Driver Klaus: The First Day on the Job
10.0                                  The Bear That Wasn't
10.0                                            The Mitten
10.0                                                  True
10.0                                            Kick-heart
10.0              Music for One Apartment and Six Drummers
10.0                                     The Ventriloquist
10.0                                               The Cow
10.0                                            Dream Work
10.0                                         The Smile Man
10.0                                         Darkened Room
10.0                                                 Canon
10.0     The Dot and the Line: A Romance in Lower Mathe...
10.0                                         Paths of Hate
10.0                                     Travels of an Ant
10.0                         Winnie-the-Pooh Goes Visiting
10.0                                        What on Earth!
10.0                                         Palmipedarium
10.0                                            Rhinoceros
10.0                                        Internet Story
10.0                                                Spider
10.0                                            Mount Head
                               ...
178.0     Les Misérables in Concert - The 25th Anniversary
178.0                                              Fashion
178.0                                Sense and Sensibility
178.0                                               Casino
178.0                               Rocco and His Brothers
178.0                         Don : The Chase Begins Again
178.0                                           Riverworld
178.0    A Lamp In The Dark: The Untold History of the ...
178.0                                               Hamlet
178.0                                Kaho Naa... Pyaar Hai
178.0                                      The Longest Day
178.0                                          Aalavandhan
178.0                                 Mutiny on the Bounty
178.0                                           Betty Blue
178.0                                               Indian
178.0                                             Dogville
178.0                              The Day of the Triffids
178.0                                       Meet Joe Black
179.0                           A Bride for Rip Van Winkle
179.0                   Shaka Zulu: The Last Great Warrior
179.0                                           China Gate
179.0                                              Camelot
179.0                            Blue Is the Warmest Color
179.0                                            Mr. India
179.0                The Lord of the Rings: The Two Towers
179.0                                               Phoonk
179.0                                    The Promised Land
179.0                                     Dil To Pagal Hai
179.0                      Jaani Dushman: Ek Anokhi Kahani
179.0                                          Come and Go
Length: 42435, dtype: object

Now let's find all those two-hour-and-34-minute movies:

In [371]:
time_scheduler[154]

154                                             The Firm
154                                            Magicians
154                                             Lord Jim
154                                Yamla Pagla Deewana 2
154                                         Pulp Fiction
154                                    55 Days at Peking
154                                     Sanam Teri Kasam
154                                        Beloved Enemy
154                                               Singam
154                                         Jackie Brown
154                                     The Color Purple
154                                     The Love of Siam
154                                          Sweet Bunch
154                         Christmas Time In South Park
154                                     The Last Samurai
154                                            The Tuner
154                                      Cheyenne Autumn
154                                        Amores perros
154                                        Cold Mountain
154                                     Superman Returns
154                                   Sodom and Gomorrah
154                                    Little White Lies
154    The Adventures of Sherlock Holmes and Dr. Wats...
154                               Va Savoir (Who Knows?)
154                                     The Ruling Class
154                       Transformers: Dark of the Moon
154                                     Twenty-Four Eyes
154                                               Krrish
154                                               Zameen
154                           1492: Conquest of Paradise
154                                               Wilson
dtype: object

But what is the 154th shortest movie in this collection?

In [372]:
movie_number_154 = time_scheduler.iloc[154]
movie_number_154

'Presentation, or Charlotte and Her Steak'

## Dealing with multiple DataFrames

Forget about budget or runtimes as criteria for selecting a movie, let's take a look at popular opinion. Our dataset has two relevant columns: vote_average and vote_count.

Let's create a variable called `df_high_rated` that only contains movies that have received more than 20 votes and whose average score is greater than 8.

In [373]:
df_highly_voted = df[df['vote_count'] > 20]     ### SOLUTION
df_high_rated = df_highly_voted[df_highly_voted['vote_average'] > 8]     ### SOLUTION
df_high_rated[['title', 'vote_average', 'vote_count']]

                                 title  vote_average  vote_count
46                               Se7en           8.1      5915.0
49                  The Usual Suspects           8.1      3334.0
109                        Taxi Driver           8.1      2632.0
256                          Star Wars           8.1      6778.0
289             Leon: The Professional           8.2      4293.0
292                       Pulp Fiction           8.3      8670.0
314           The Shawshank Redemption           8.5      8358.0
351                       Forrest Gump           8.2      8147.0
522                   Schindler's List           8.3      4436.0
586           The Silence of the Lambs           8.1      4549.0
659                   The World of Apu           8.2        40.0
834                      The Godfather           8.5      6024.0
877                        Rear Window           8.2      1531.0
882                      The Apartment           8.1       498.0
895                   Sunset Boulevard           8.2       533.0
1057                    Reservoir Dogs           8.1      3821.0
1132                   Cinema Paradiso           8.2       834.0
1138                    Paths of Glory           8.2       565.0
1151                  Paris is Burning           8.2        67.0
1152   One Flew Over the Cuckoo's Nest           8.3      3001.0
1154           The Empire Strikes Back           8.2      5998.0
1159    The Good, the Bad and the Ugly           8.1      2371.0
1161                      12 Angry Men           8.2      2130.0
1166      Once Upon a Time in the West           8.1      1160.0
1170                        GoodFellas           8.2      3211.0
1176                            Psycho           8.3      2405.0
1178            The Godfather: Part II           8.3      3418.0
1184       Once Upon a Time in America           8.3      1104.0
1201                Dead Poets Society           8.1      2786.0
1213                       The Shining           8.1      3890.0
...                                ...           ...         ...
38711                   The Handmaiden           8.1       453.0
39078                     Planet Earth           8.8       176.0
39079                             Life           8.5        65.0
39087           Bo Burnham: Make Happy           8.4        56.0
39226            O.J.: Made in America           8.5        73.0
39379                            Piper           8.2       487.0
40242                       Your Name.           8.5      1030.0
40463             Over the Garden Wall           8.2        52.0
40476                          Divines           8.1       161.0
40559                            Tower           8.1        50.0
40886                      The Present           8.3        52.0
41219                    Under the Sun           8.1        31.0
41282               HyperNormalisation           8.1        26.0
41388                   A Silent Voice           8.1       157.0
41591                   Inner Workings           8.2        46.0
42003              The Invisible Guest           8.1       395.0
42137                     Eu Fico Loko           8.3        22.0
42366                        Cosy Dens           8.6        23.0
42381                             Hope           8.1        36.0
42479                         Lemonade           8.8        45.0
42677                          Parched           8.5        23.0
42850                           Kaabil           8.1        23.0
43177                 Band of Brothers           8.2       725.0
43307                  Planet Earth II           9.5        50.0
43510                           Cosmos           9.1        41.0
43576      Pink Floyd: Live at Pompeii           8.3        35.0
43962                      Life Cycles           8.8        27.0
44377    Hasan Minhaj: Homecoming King           8.1        22.0
44664    Black Mirror: White Christmas           8.3       211.0
45424                   In a Heartbeat           8.3       146.0

[178 rows x 3 columns]

Here we have 178 high-quality movies, at least according to some people. But what about **my** opinion? 

Here are my favorite movies and their relative scores, create a DataFrame called `compare_votes` that contains the title as an index and both the vote_average and my_vote as its columns. Also only keep the movies that are both my favorites and popular favorites.

HINT: You'll need to create two Series, one for my ratings and one that maps titles to vote_average.

In [375]:
my_favorites_with_ratings = pd.Series(       ### SOLUTION
    {
    "Star Wars": 9,
    "Paris is Burning": 8,
    "Dead Poets Society": 7,
    "The Empire Strikes Back": 9.5,
    "The Shining": 8,
    "Return of the Jedi": 8,
    "1941": 8,
    "Forrest Gump": 7.5,
}
)       ### SOLUTION
overall_favorites = pd.Series(df_high_rated['vote_average'].values, index=df_high_rated['title'].values)       ### SOLUTION
compare_votes = pd.DataFrame({'vote_average': overall_favorites, 'my_vote': my_favorites_with_ratings}).dropna()       ### SOLUTION
compare_votes

                         vote_average  my_vote
Dead Poets Society                8.1      7.0
Forrest Gump                      8.2      7.5
Paris is Burning                  8.2      8.0
Star Wars                         8.1      9.0
The Empire Strikes Back           8.2      9.5
The Shining                       8.1      8.0

There should be only 6 movies remaining.

Now add a column to `compare_votes` that measures the percentage difference between my rating and the popular rating for each movie. You'll need to take the different between the vote_average and my_vote and divide it by my_vote.

In [376]:

compare_votes["vote_percentage_difference"] = (compare_votes["vote_average"] - compare_votes["my_vote"])/compare_votes["my_vote"]       ### SOLUTION
compare_votes

                         vote_average  my_vote  vote_percentage_difference
Dead Poets Society                8.1      7.0                    0.157143
Forrest Gump                      8.2      7.5                    0.093333
Paris is Burning                  8.2      8.0                    0.025000
Star Wars                         8.1      9.0                   -0.100000
The Empire Strikes Back           8.2      9.5                   -0.136842
The Shining                       8.1      8.0                    0.012500